# US counties COVID 19 dataset

This notebook is for loading and exploring the basics of the data.

In [2]:
#Standard imports

#Autoreload
%load_ext autoreload
%autoreload 2

#Standard imports
import pandas as pd
import numpy as np

In [5]:
#Load the dataset in csv format

# Replace 'file_path' with the actual path to your CSV file
file_path = '/home/robynn/personal_code/US-Counties-COVID19-Project/US-Counties-COVID19-Project/Data_explore/data/us-counties.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [6]:
#Show types of data in column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    object
 1   county  object
 2   state   object
 3   fips    float64
 4   cases   int64
 5   deaths  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 114.6+ MB

In [7]:
#Change date column to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
#Show changed types of data in column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    datetime64[ns]
 1   county  object
 2   state   object
 3   fips    float64
 4   cases   int64
 5   deaths  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 114.6+ MB